@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.search {
  max-width: 300px;
  align-items: center;
  margin: 0 auto;

  &__title {
    @include title;
    text-align: center;
  }

  &__form {
    position: relative;
    width: 100%;
    margin-top: 40px;
  }

  &__icon {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: $color-main;
  }

  &__input {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-second;
    background: none;
    outline: none;
    border: 2px solid $color-main;
    border-radius: 20px;
    padding: 10px 15px 10px 45px;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 175, 183, 0.5);
      outline: none;
    }

    &::placeholder {
      color: $color-second;
      opacity: 0.4;
    }
  }
}
