@import '../../style/variables.scss';

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;

  &__img {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 300;
  }

  &__wrap {
    position: relative;
    width: 124px;
    height: 124px;
    border-radius: 50%;

    background: linear-gradient(
      141.58deg,
      $color-main-second 9.27%,
      $color-main 40.62%,
      $color-main 52.92%,
      $color-main-second 85.47%
    );
    animation: animate-preloader 1s linear infinite;

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background: $color-white;
      border-radius: 50%;
    }

    &__item {
      position: absolute;
      width: 124px;
      height: 124px;
      border-radius: 50%;
      background: linear-gradient(142.69deg, #5ca7ec -0.73%, #1d2db8 49.37%, #00c2ff 96.58%);
      opacity: 0.5;

      &:nth-child(1) {
        filter: blur(7.5px);
      }

      &:nth-child(2) {
        filter: blur(7.5px);
      }
    }
  }
}
