@mixin bg-text {
  background-image: linear-gradient(270deg, rgb(196, 236, 142) 0%, rgb(0, 175, 183));
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
